<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <h1 class="logo">Ramon's Barber Shop</h1>
      <p class="description">Acesse e agende seu atendimento!.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doGoogleLogin()">
        Entrar com Google
      </ion-button>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doLoginPegandoId()">
        Entrar Get Cliente APLICACAO
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
