.login-content{
  --background: var(--ion-color-medium-tint);
  background-image: url("https://img.freepik.com/fotos-gratis/diferentes-tipos-de-ferramentas-de-barbeiro-em-uma-linha-na-superficie-de-madeira_23-2147839822.jpg?size=626&ext=jpg")
}

.logo {
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.description {
  color: white;
  font-size: 22px;
  text-align: center;
}

.log-in-button {
  margin-top: 40px;
  font-weight: bold;
}
