<ion-content *ngIf='userReady'>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agendamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-list>
            <ion-list-header>Lista de servicos</ion-list-header>
            <ion-item>
                <ion-label>Serviço</ion-label>
                <ion-select [(ngModel)]="servico" multiple="true">
                    <ion-select-option *ngFor="let item of servicos">{{item.descricao + ' (R$: ' + item.valor + ')'}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-list radio-group name="radioHorarios">
            <ion-list-header>
              <ion-label>Horários disponiveis</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of horarios" [(ngModel)]="horario" >
              <ion-label>{{item.hora}}</ion-label>
              <ion-radio slot="start" value={{item.value}} disabled={{item.disponivel}}></ion-radio>
            </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
    <button ion-button block (click)="openListTipoServico()">Tipos de Servico</button> 
    <ion-button expand="block" (click)="agendar()">Agendar</ion-button>
    <ion-button expand="block" (click)="doGoogleLogout()">Sair</ion-button>
    <ion-button class="log-in-button" color="danger" expand="block" (click)="openListTipoServico()">Get</ion-button>
  </ion-card>
</ion-content>
